@model List<ProvaN2.Models.CadastroModel>
@{
    ViewBag.Title = "Cadastro de Pessoa";
}
 
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/CadastroPessoa.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

<div id="cadastro">
    <section id="cadastro_cabecalho">
        <h1>@ViewBag.Title</h1>
    </section>
    <section id="cadastro_conteudo">        
        <div id="cabecalho_grid" class="row">
            <div class="col-md-12">
                <a id="btn_incluir" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus"></i> Incluir</a>
            </div>
        </div>       
        <div class="row">
            <div class="col-md-12">
                <p id="content">
                    <table id="grid_cadastro" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-3">Nome</th>
                                <th class="col-md-2">CPF</th>
                                <th>Email</th>
                                <th class="col-md-2">Idade</th>
                                <th>Sexo</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var linha = 0;
                                foreach (var item in Model)
                                {
                                    linha++;
                                    if (linha <= ViewBag.QuantMaxLinhasPorPagina)
                                    {

                                        <tr data-id="@item.Id">
                                            <td>@item.Nome</td>
                                            <td>@item.CPF</td>
                                            <td>@item.Email</td>
                                            <td>@item.Idade</td>
                                            <td>@item.Sexo</td>
                                            <td>
                                                <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                                                <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        break;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
        <p id="pagination-here"></p>
    </section>
</div>
@Html.Hidden("id_cadastro")
<div class="modal_cadastro">
    <div id="modal_cadastro" class="form-horizontal invisivel" role="dialog">
        <fieldset>
            <div class="row">
                <div class="form-group">
                    @Html.Label("txt_nome", "Nome", new { @class = "col-md-3 control-label" })
                    <div class="col-md-12">
                        @Html.TextBox("txt_nome", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("txt_email", "Email", new { @class = "col-md-3 control-label" })
                    <div class="col-md-12">
                        @Html.TextBox("txt_email", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("cpf", "Cpf", new { @class = "col-md-3 control-label" })
                    <div class="col-md-12">
                        @Html.TextBox("cpf", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("idade", "Idade", new { @class = "col-md-3 control-label" })
                    <div class="col-md-12">
                        @Html.TextBox("idade", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("sexo", "Sexo", new { @class = "col-md-3 control-label" })
                    <div class="col-md-12">
                        @Html.TextBox("sexo", null, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="modal-footer">
                            <a id="btn_sair" class="btn btn-default" role="button" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Sair</a>
                            <a id="btn_confirmar" class="btn btn-primary" role="button"><i class="glyphicon glyphicon-ok"></i> Salvar</a>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>
<script>
    var url_confirmar = '@Url.Action("Salvar", "Cadastro")';
</script>
<script src="~/Scripts/Cadastro/CadastroPessoa.js"></script>